@model TIGE.Core.Share.Models.User.CreateUserModel

@{
    ViewData[ViewDataKey.Title] = Messages.User.PageTitleAdd;
}

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Users
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="@Url.AbsoluteAction("Index", "User")" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Users
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="@Url.AbsoluteAction("Add", "User")" class="m-nav__link">
                        <span class="m-nav__link-text">
                            New User
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-users"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Tài Khoản Mới
                        <small>
                            Thêm Tài Khoản Mới
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <form id="new-user-form" asp-controller="User" asp-action="SubmitAdd" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label asp-for="Email" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-3">
                        <input asp-for="Email" type="email" class="form-control m-input" placeholder="Enter email">
                        <span asp-validation-for="Email" class="form-control-feedback"></span>
                    </div>
                    
                    <label asp-for="ListPermission" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-3">
                        <select asp-for="ListPermission" class="form-control" data-plugins="select2" asp-items="Html.GetEnumSelectList<Permission>()"></select>
                        <span asp-validation-for="ListPermission" class="form-control-feedback"></span>
                    </div>
                </div>
                
                <div class="form-group m-form__group row">
                    <label asp-for="FullName" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-3">
                        <input asp-for="FullName" type="text" class="form-control m-input" placeholder="Enter full name">
                        <span asp-validation-for="FullName" class="form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-success" data-plugins="loader">
                                Save
                            </button>
                            <a href="@Url.Action("Index", "User")" class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>