.dz-image > img {
  width: 100%!important;;
  cursor: pointer!important;;
}

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: none!important;
  -moz-transform: none!important;
  -ms-transform: none!important;
  -o-transform: none!important;
  transform: none!important;
  -webkit-filter: none!important;
  filter: none!important;
}
