// Underline Color

.sketch-underline-green {
  background: url(../img/sketch-underline-green.svg) bottom left no-repeat;
  background-size: 100% 0.75rem;
  padding-bottom: 0.3rem;
}

.sketch-underline-purple {
  background: url(../img/sketch-underline-purple.svg) bottom left no-repeat;
  background-size: 100% 0.75rem;
  padding-bottom: 0.3rem;
}

// Highlight Positive and Negative

.highlight-positive {
  border-radius: 0.5em;
  background-color: #ebf6f0;
}

.highlight-negative {
  border-radius: 0.5em;
  background-color: #fdf3e6;
}

// Highlight Color

.highlight-yellow {
  border-radius: 1em 0 1em 0;
  background-color: transparent !important;
  background-image: linear-gradient(-100deg, rgba(250, 247, 133, 0.3), rgba(250, 247, 133, 0.7) 95%, rgba(250, 247, 133, 0.1));
}

.highlight-purple {
  border-radius: 1em 0 1em 0;
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(244, 237, 255, 1), rgba(244, 237, 255, 1));
}

// Section Divider 

.section-divider {
  margin-top: 52px;
  margin-bottom: 42px;
  display: block;
  border: 0;
  text-align: center;
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.section-divider:before {
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-family: medium-content-slab-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: .6em;
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0, 0, 0, .68);
  position: relative;
  top: -30px;
}

// Anchor

.highlight-anchor {
  text-decoration: underline;
  text-decoration-color: $purple-light;
}