$brand-color: #2f2442;
$brand-inverse-color: #ffffff;
$semi-brand-color: #f46c93;

$secondary-brand-color: #F4DA70;
$secondary-brand-inverse-color: #FFF;
$secondary-brand-hover-color: lighten($secondary-brand-color, 26%);
$secondary-brand-hover-color-alt: darken($secondary-brand-color, 15%);

$highlight-color: rgba(244, 218, 112, 0.1);

$purple-light: #a8a4d6;
