<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            @{
                await Html.RenderPartialAsync("_Header/_BrandHeader.cshtml");
            }
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                @{
//                    await Html.RenderPartialAsync("_Header/_LeftHeader.cshtml");
                }
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <a href="@Url.Action("Index", "User",new{Area = "StackAdmin"})" class="btn btn-success m--margin-right-30">Stake Management</a>

                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            @{
//                                await Html.RenderPartialAsync("_Header/_AppHeader.cshtml");
//                                await Html.RenderPartialAsync("_Header/_NotificationHeader.cshtml");
                                await Html.RenderPartialAsync("_Header/_LoggedInUser.cshtml");
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>