
@{
    ViewData["Title"] = "Giới thiệu";
}

<div class="container">


    @Html.Raw(ViewBag.About)
    @*<div class="pp-section pp-container-readable">
        <article class="pp-post">
            <div class="pp-post-content">
                @Html.Raw(ViewBag.About)
            </div>
        </article>
    </div>*@
</div>


